* {
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  margin: 0;
}
html,
body {
  width: 1200px;
}
header {
  justify-content: space-between;
  display: flex;
  height: 130px;
  border-bottom: solid 3px black;
}
.header-icon {
  width: 50px;
  height: 50px;
  margin: 0, 5px;
}
.header-button {
  width: auto;
  padding: 5px 5px;
  height: 50px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
.header-buttons {
  display: inline;
  margin: auto auto;
}
.header-icons {
  display: inline;
  margin: auto auto;
  margin-right: 60px;
}
.logo {
  display: block;
  margin: auto auto;
  margin-left: 60px;
}
.logo-auth {
  width: 750px;
  height: 150px;
  margin-left: 0px;
}
.header-auth {
  border-bottom: none;
  height: 150px;
}
.auth-form {
  display: block;
  border: solid 1px black;
  width: 350px;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 10px;
  margin: auto;
  margin-top: 10%;
}
.logo-center {
  margin-left: auto;
  margin-right: auto;
}
.auth-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}
.auth-text {
  margin-top: 0px;
  margin-bottom: 10px;
}
.auth-input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.auth-button-next {
  font-weight: bold;
  width: 100px;
}
