* {
  font-family: "open-sans", sans-serif;
  font-size: 20px;
  margin: 0;
  box-sizing: border-box;
}
.db {
  display: block;
}
.border {
  border: solid 1px black;
  border-radius: 5px;
}
.validTrue {
  border: solid 1px green;
}
.validFalse {
  border: solid 1px red;
}
.authHeader {
  width: 500px;
  margin-top: 5%;
}
.authForm {
  width: 300px;
  padding: 10px 20px;
  z-index: 1;
}
.authCenterScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  color: black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  text-decoration: none;
  height: 50px;
  font-weight: 600;
}
.btns {
  margin-top: auto;
  margin-bottom: auto;
}
.btnSubmit {
  display: block;
}
.authForm input {
  display: block;
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.link {
  text-align: center;
}
.btnCloseForm {
  border-radius: 5px;
  padding: 5px 5px 0px;
  background-color: white;
  float: right;
  display: inline-block;
  margin-bottom: 10px;
}
.description {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalWindow .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 0;
}
.confirmForm {
  background-color: white;
  width: 400px;
  height: 200px;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}
.invisible {
  display: none;
}
.confirmInput {
  width: 90%;
  display: block;
}
.centerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.header {
  width: 1200px;
  display: flex;
  padding: 0 30px;
  height: 100px;
  border-bottom: solid 1px black;
  justify-content: space-between;
}
.btnHeader {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.logo {
  margin-top: auto;
  margin-bottom: auto;
}
.post {
  padding: 10px;
  width: 350px;
  margin-top: 10px;
  display: inline-block;
  margin-bottom: auto;
}
.imgPost {
  width: 100%;
  border-radius: 5px;
}
.titlePost {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}
.descriptionPost {
  margin: 10px 0;
  font-weight: 500;
  font-size: 25px;
}
.dislikePost {
  background: none;
  border: none;
  padding: 0;
}
.likePost {
  background: none;
  border: none;
  padding: 0;
}
.profilePost {
  border-radius: 5px;
  height: 50px;
  background: url("../img/profile.svg") no-repeat left;
  background-size: 50px;
  width: 60%;
  border: solid 2px black;
  padding: 10px 50px;
  margin-bottom: auto;
}
.nickname span {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}
.downPanel {
  display: flex;
  justify-content: space-between;
}
.postsWall {
  column-count: 3;
  justify-content: space-between;
}
.filter {
  float: right;
  background: none;
  border: none;
}
.sort {
  border-radius: 5px;
  border: solid 1px black;
  width: 350px;
  height: 50px;
}

.btnTimetable {
  width: 250px;
}
.timetableTitle {
  text-align: center;
  font-size: 25px;
}
.inputTimetable {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
}

section {
  position: relative;
  height: 85%;
}
.timetableForm {
  margin-bottom: 0;
  width: 450px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding-top: 10px;
  background-color: white;
}
